<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="za.co.codehesion.peachmobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false"/>
    </application>

</manifest>
